extends index

block new_msg
  form.message-form(method='POST' action='')
    div.form-group
      label(for='message') Message:
      input#message.form-control(type='text' placeholder='Message...' name='message' required='true' value='')
    .form-buttons
      button.button.btn-primary(type='submit') Post Message
      a.button.cancel-button(href='/') Cancel
  if errors
    ul
      for error in errors
        li!= error.msg