block header
  div.header
    div.header-content
      a.logo-button(href='/')
        div.logo-block
          div.logo-text.blackbox Members
          div.logo-text.whitebox Only

      if currentUser
        div.userinfo-block
          div.username-block
            span.material-symbols-outlined person
            div.username #{currentUser.username}
          div.usertype-block
            span.material-symbols-outlined military_tech
            div.usertype #{currentUser.userType}
        div.header-buttons
          if currentUser.userType !== 'admin'
            a.button.header-button.upgrade-button(href="/upgrade") Upgrade Membership
          a.button.header-button(href='/logout') Log Out
      else 
        a.button.header-button(href='/login') Log In