extends layout

block content
  div.content

    //- check for login
    if currentUser
      div.welcome-modal
        div Welcome #{currentUser.username}
    else
      div.welcome-modal
        div Please Create Account or Log In to post a message
        div.login-button-container
          a.button.login-button(href='/signup') Sign Up
          a.button.login-button(href='/login') Log In

    block new_msg

    div.message-container
      if messages
        each message in messages
          .message-tile
            .message-text #{message.text}
            if currentUser
              .message-detail
                if currentUser.userType !== 'basic'
                  .message-user Posted By: #{message.username} 
                  .message-added Post Date: #{message.addedDate_formatted}
                if currentUser.userType === 'admin'
                  a.button.delete-button(href='/message/'+ message._id +'/delete') Delete Message
      else
        p Nothing Here

    if currentUser && !form 
      a.button.add-message-button(href="/new") Add a Message