extends layout

block content
  div.logout-message You have successfully logged out
  div.logout-message You will be returned to the home page shortly.
  a.logout-now-btn(href='/') Click Here to Return Now
