extends layout

block content
  div.content
    h1= title

    form(method='POST' action='')
      div.logout-confirm-text
        div Are you sure you want to logout?
      div.form-buttons
        button.button.btn-primary(type='submit') Logout
        a.button.cancel-button(href='/') Cancel
    if errors
      ul
        for error in errors
          li!= error.msg
