* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,226,163,1) 100%);  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.hiddenMSG {
  display: none;
}

/* Header styles */
.header,
.footer {
  background-color: rgba(17, 122, 207, 0.534);
  color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.logo-text {
  font-size: 1.5rem;
}

.blackbox {
  background-color: black;
  font-stretch: 200%;
  color: white;
  padding: .25rem;
}

.whitebox {
  color: black;
}

.header-button {
  background-color: #1b7fa7;
  color: white;
  text-decoration: none;
  padding: .5rem;
  border-radius: .25rem;
}

.header-button:hover {
  scale: 1.1;
}

/* Index Styles */
.title-text {
  font-size: 2rem;
}

.content {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.login-modal {
  display: flex;
  flex-direction: column;
}

/* Footer styles */
.footer {
  padding: .75rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.github {
  width: 1.5rem;
}

.github:hover {
  scale: 1.1;
  cursor: pointer;
}


